<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png" />
    <title>【Java招聘】_阿里巴巴集团招聘-BOSS直聘</title>
</head>

<body>
    <div class="container" id="app">
        <!-- 顶部 -->
        <div class="top-bar flex padded">
            <a href="./">
                <img src="./images//logo.png" alt="" />
            </a>
            <form action="" class="flex">
                <input type="text" placeholder="搜索职位" />
                <button class="search-icon"></button>
            </form>
        </div>
        <!-- 职位详情 -->
        <div class="job-info padded">
            <div class="title flex">
                <span>{{job.title}}</span>
                <span class="salary">{{job.salary}}</span>
            </div>
            <div class="props flex">
                <div class="items flex">
                    北京 <i></i> 1-3年 <i></i> 不限
                </div>
                <div>
                    发布于:{{job.pulished_at}}
                </div>
            </div>
            <div class="tags">
                <span v-for="l in job.label" :key="l.name">{{l}}</span>
            </div>
        </div>
        <!-- 公司信息 -->
        <div class="user-info flex">
            <img :src="job.HR.avatar" class="avatar" alt="" />
            <div class="info">
                <div class="name flex">
                    <span>{{job.HR.name}}</span>
                    <span class="like" @click="like(job.id)">
                        <img src="./images/link-like.png" alt="">
                        收藏
                    </span>
                </div>
                <div class="desc">{{job.HR.title}}</div>
            </div>
            <button class="btn" type="button">立即沟通</button>
        </div>
        <div class="job-detail padded">
            <div class="item">
                <h3>职位描述</h3>
                <div class="text">
                    <p v-html="job.detail"></p>
                </div>
                <div class="item">
                    <h3>职位分类</h3>
                    <div class="tags">
                        <span v-for="item in job.befines" :key="item">{{item}}</span>
                    </div>
                </div>
            </div>

            <!-- <div class="company-info flex">
            <img src="./images/company.jpg" alt="">
            <div class="d">
                <div class="name flex">
                    <span>阿里巴巴集团</span>
                    <button class="btn" type="button">关注该公司</button>
                </div>
                <div>
                    阿里巴巴（北京）软件服务有限公司
                </div>
                <div class="tags">
                    移动互联网 <i></i>
                    已上市 <i></i>
                    1000以上
                </div>
            </div>
        </div> -->
            <!-- 推荐公司 -->
            <div class="related-jobs padded">
                <h3>相似职位</h3>
                <ul class="job-list">
                    <li v-for="item in job.jobList" :key="item.id">
                        <a href="./detail.html" class="job-item flex">
                            <img :src="job.logo" alt="">
                            <div class="text ">
                                <div class="title flex">
                                    {{item.title}}
                                    <span class="salary">{{item.salary}}</span>
                                </div>
                                <div class="flex">
                                    <div class="company">
                                        {{item.company}}
                                    </div>
                                    <button type="button" class="btn" style="flex-shrink: 0;">立即沟通</button>
                                </div>
                                <div class="props">
                                    <span v-for="tag in item.tags" :key="item">{{tag}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 底部 -->
            <div class="detail-footer">
                <p>我是有底线的</p>
            </div>
        </div>

        <script type="text/javascript" src="./script/vue/vue.js"></script>
        <script>
            //view model
            const vm = new Vue({
                el: '#app',
                data: {
                    job: {
                    }
                },
                methods: {
                    like(jid) {
                        console.log(jid)
                    }
                },
                created: function () {
                    //axios
                    const that = this
                    fetch('./api/mockData/index.json').then(function (res) {
                        return res.json()
                    }).then((data) => {
                        //that.job = data.result
                        //console.log(data)
                    })
                },
            })
        </script>
</body>

</html>
